{% extends "base.html" %}

{% block content %}
<h1>About GoDjango</h1>
<p>
  GoDjango is created by <a href="http://buddylindsey.com/">Buddy Lindsey</a>. Each episode is focused on something that can help django developers do django development better. Most videos will be short, sweet, and to the point about the specific topic. It is expected that most developers have some experience with Django, but anyone will usually be able to benefit some how.
</p>
<h2>Contact</h2>
<p>
    All feedback is welcome be it comment, criticism, help, or suggestions feel free to hit me with it. The easiest way to contact me is via the <a href="{% url feedback %}">feedback page</a>. However, I am available on twitter as well at, <a href="http://twitter.com/buddylindsey">@BuddyLindsey</a>.
</p>
<h2>GoDjango Site</h2>
<p>
  The GoDjango site itself is open source so anyone can feel free to peruse the code, or submit pull requests to help grow the site itself. Please have a look at the <a href="https://github.com/buddylindsey/GoDjango">GoDjango github repository</a> to see more about it. Also please feel free to leave pull requests.
</p>
{% endblock %}
