{% extends "base.html" %}

{% block content %}
<section class="content">
<section>
<header id="about-head">
<h1>About GoDjango</h1>
</header>
<div>
  GoDjango is created by <a href="http://buddylindsey.com/">Buddy Lindsey</a>. Each episode is focused on something that can help django developers do django development better. Most videos will be short, sweet, and to the point about the specific topic. It is expected that most developers have some experience with Django, but anyone will usually be able to benefit some how.
</div>
</section>
<section>
<header id="about-contact"><h2>Contact</h2></header>
<div>
    All feedback is welcome be it comment, criticism, help, or suggestions feel free to hit me with it. The easiest way to contact me is via the <a href="{% url home.views.feedback %}">feedback page</a>. However, I am available on twitter as well at, <a href="http://twitter.com/buddylindsey">@BuddyLindsey</a>.
</div>
</section>
<section>
<header id="about-contact"><h2>GoDjango Site</h2></header>
<div>
  The GoDjango site itself is open source so anyone can feel free to peruse the code, or submit pull requests to help grow the site itself. Please have a look at the <a href="https://github.com/buddylindsey/GoDjango">GoDjango github repository</a> to see more about it. Also please feelf ree to leave pull requests.
</div>
</section>
</section>
{% endblock %}
