{% extends "base.html" %}

{% block title %}
GoDjango.com - Going Through Django Screencasts
{% endblock %}

{% block content %}
<aside id="side-panel">
  <div class="widget">
    <ul>
      <li><a href="http://feeds.feedburner.com/GoDjango">RSS</a></li>
      <li><a href="http://www.facebook.com/pages/GoDjango/110180145763953">Facebook</a></li>
    </ul>
  </div>
  <div class="widget">
    <a href="http://www.linode.com/?r=3a66ff0ec674bff254f8de21f5418489b791336e"><img src="/static/images/linode.png" alt="Hosting provided by Linode" /></a>
  </div>
</aside>


<section class="content">
{% if videos %}
    {% for v in videos %}
        <article class="article">
            <aside class="preview-image">
                <img src="{{ v.thumbnail_image }}" />
            </aside>
            <div class="article-content">
                <header class="article-header"><a href="{% url home.views.video video_id=v.id slug=v.slug %}">{{ v.title }}</a> <span class="header-comment-count">(<fb:comments-count href="http://godjango.com{% url home.views.video video_id=v.id slug=v.slug %}"></fb:comments-count> comments)</span></header>
                <section class="article-description">
                {{ v.description }} <span class="video-length">({{ v.length }} minutes)</span>
                </section>
            </div>
        </article>
    {% endfor %}
{% else %}
    <p>
        There are no videos at this time.
    </p>
{% endif %}
</section>
{% endblock %}
