{% extends "base.html" %}

{% block content %}
<form action="/feedback/" method="post">{% csrf_token %}
	<fieldset>
	    {% for field in form %}
		<div class="clearfix">
			{{ field.label_tag }}
			<div class="input">
				{{ field }}
				{% if field.errors %}
				<span>{{ field.errors }}</span>
				{% endif %}
			</div>
		</div>
	    {% endfor %}
		<div class="actions">
			<input type="submit" name="submit" class="btn primary" value="Send Feeback"/>
			{% if message %}
			   <span>{{ message }}</span>
			{% endif %}
		</div>
	</fieldset>
</form>
{% endblock %}
