<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <!--<link rel="stylesheet" href="/static/css/video-js.css" type="text/css" media="screen" title="Video JS" charset="utf-8" />-->
        <link rel="alternate" type="application/rss+xml" title="GoDjango.com Main Feed (RSS 2.0)" href="http://feeds.feedburner.com/GoDjango" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <header id="header">
            GoDjango - Going Through Django Screencasts
        </header>
        <nav id="navigation">
        <ul>
            <li><a href="{% url home.views.index %}">Browse Videos</a></li>
            <li><a href="{% url about %}">About GoDjango</a></li> 
            <li><a href="{% url feedback %}">Feedback</a></li> 
        </ul>
        </nav>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <footer id="footer">
           Content and Videos &copy; 2011 GoDjango
        </footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=120305901411601";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-805005-16']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>
